.ptc {
    &-header {
        display: block;
        background-color: $page-light-color;

        &__content {
            width: 100%;
            padding: 18px 0;
            display: inline-flex;
            display: -webkit-inline-flex;
            display: -ms-inline-flex;
            align-items: center;

            &-logo {
                width: 100px;
                height: auto;
                margin-right: 14px;

                img {
                    width: 100%;
                }
            }

            &-body {
                h1, p {
                    margin: 0;
                    padding: 0;
                }

                h1 {
                    color: $page-primary-color;
                    font-size: 24px;
                    font-weight: 400;
                }

                p {
                    color: $page-dark-color;
                    font-size: 14px;
                    font-weight: 300;
                }
            }

            &-social {
                position: absolute;
                right: 0;

                ul {
                    display: inline-flex;
                    display: -webkit-inline-flex;
                    display: -ms-inline-flex;
                    align-items: center;
                    list-style-type: none;
                    margin: 0;
                    padding: 0;

                    &:hover {
                        li {
                            filter: grayscale(100%);
                        }
                    }
                }

                li {
                    margin: 0;
                    margin-left: 3px;
                    padding: 0;
                    font-size: 36px;
                    width: 36px;
                    transition: $all-transition;
                    z-index: 1;

                    &:hover {
                        z-index: 3;
                        filter: grayscale(0%) !important;
                        transform: scale(1.2);
                        -webkit-transform: scale(1.2);
                    }

                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
        }
    }

    &-page {
        width: $page-width;
        max-width: $page-max-width;
        align-self: center;
        margin-left: auto;
        margin-right: auto;
        flex: none;
        -ms-flex-item-align: center;
        -webkit-box-flex: 0;
        -ms-flex: none;
    }

    &-welcome {
        padding: 100px 0 280px;
        background-image: $image-welcome;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        color: set-text-color($hsla-dark-50);

        article {
            z-index: 2;

            h1 {
                text-align: center;
                font-size: 42px;
                font-weight: 100;
            }

            blockquote {
                text-align: center;
                width: 640px;
                max-width: 100%;
                margin: 0 auto;
                font-size: 14px;
                font-weight: 300;
                letter-spacing: 1.2px;
            }
        }

        &--overlay {
            &::after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                background-color: $hsla-dark-30;
            }
        }
    }

    &-introblocks {
        position: relative;
        margin: -180px auto 0;
        z-index: 3;

        ul, ul li {
            border: none;
        }
        
        ul {
            margin: 0;
            padding: 0;
            display: table;
        }

        li {
            cursor: default;
            position: relative;
            display: table-cell;
            background-image: $image-introblocks !important;
            background-size: cover;
            background-position: 10%;
            height: 100%;
            width: 20%;
            padding: 7% 2% 3%;
            text-align: center;

            article {
                img {
                    width: auto;
                    max-width: 100%;
                    height: auto;
                    margin: 0;
                    padding: 0;
                    border: none;
                    line-height: normal;
                    vertical-align: middle;
                    margin-bottom: 18px;
                }

                h4 {
                    color: set-text-color($page-dark-color);
                    font-size: 14px;
                    margin-bottom: 10px;

                    &::after {
                        content: "";
                        display: block;
                        width: 50%;
                        height: 3px;
                        margin: 5px auto;
                        border-radius: $border-radius-lg;
                        background-color: set-text-color($page-dark-color);
                    }
                }
            }

            &:nth-child(1) { background-color: $introblocks-1; }
            &:nth-child(2) { background-color: $introblocks-2; }
            &:nth-child(3) { background-color: $introblocks-3; }
            &:nth-child(4) { background-color: $introblocks-4; }
            &:nth-child(5) { background-color: $introblocks-5; }
        }
    }

    &-card {
        background: $page-light-color;
        margin-bottom: 15px;
        padding: 15px 15px;
        box-shadow: 0 2px 5px 0 $hsla-dark-30;
        border-radius: $border-radius-lg;

        &__header {
            margin-bottom: 10px;
            border-bottom: 2px solid $gray-400;

            &-title {
                text-transform: initial;
                padding-bottom: 15px;
                font-size: 18px;
                margin: 0 0 -4px;
                color: $page-primary-color;
                display: inline-block;
                border-bottom: 4px solid $page-primary-color;
            }

            &-link {
                position: absolute;
                right: 0;
                top: 0;
            }
        }

        &__body {
            margin: 0;
            padding-top: 5px;
        }

        &__president {
            font-size: 16px;
            font-weight: 400;

            span {
                display: block;
                width: 100%;
                font-size: 14px;
                font-weight: 100;
            }
        }

        &__calendar {
            time {
                border-radius: 5px;
            }

            > li {
                min-height: auto;
                padding-top: 0;
                padding-bottom: 8px;
                border: 0;
            }
        }

        &__image {
            display: block !important;
            border-radius: 5px;
            overflow: hidden;
            height: auto;
            width: 100%;
        }

        &__list {
            &-news {
                &-image {
                    margin-bottom: 10px;
                    min-height: 180px;
                    padding-bottom: 12px;
                    padding-left: 295px;
                    position: relative;

                    &--img {
                        background-size: cover;
                        background-position: center center;
                        background-repeat: no-repeat;
                        display: block !important;
                        border-radius: 5px;
                        overflow: hidden;
                        height: 175px;
                        width: 275px;
                        position: absolute;
                        left: 0;
                        top: 0;
                    }

                    &:last-of-type {
                        border-bottom: 0;
                        margin-bottom: -4px;
                        padding-bottom: 0;
                    }
                }

                &-inner {
                    max-height: 178px;
                }

                &-date {
                    position: absolute;
                    top: 0;
                    right: 0;    
                    color: $gray-600;
                    font-size: 11px;
                    font-weight: 400;
                }

                &-title {
                    display: inline-block;
                    color: $gray-800;
                    font-size: 16px;
                    font-weight: 600;
                    max-width: 270px;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    &:hover {
                        color: inherit;
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    &-footer {
        border-top: 4px solid $page-primary-color;
        background-color: $page-light-color;
        color: $hsla-dark-60;

        &--image {
            background-image: $image-footer;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }

        &__logo {
            text-align: center;
            margin: 2rem 0;
        }

        &__title {
            color: $hsla-dark-60;
            border: none !important;
            font-size: 13px !important;
            font-weight: 700;
            line-height: 14.4px;
        }

        &__text, &__list li a {
            transition: $all-transition;
            color: $hsla-dark-60;
            font-size: 13px !important;
            font-weight: 400;
            line-height: 14.4px !important;
        }

        &__list {
            li {
                text-transform: capitalize;
                margin-bottom: .6rem;

                a {
                    transition: $all-transition;
    
                    &:hover {
                        text-decoration: none;
                        color: $page-primary-color;
                    }
                }
            }
        }

        &__copyright {
            margin-top: 20px;
            padding-top: 12px;
            border-top: .5px solid $hsla-dark-10;
            font-size: 14px;
            display: block;

            &::before, &::after {
                display: table;
                content: "";
            }

            &, &::after {
                clear: both;
            }
        }
    }
}

.text {
    &-primary {
        color: $page-primary-color !important;
    }

    &-secondary {
        color: $page-secondary-color !important;
    }
}

.u {
    &-section {
        &--bg {
            &-normal {
                background-color: $page-light-color !important;
            }
        }
    }

    &-ellipsis {
        &-overflow {
            white-space: nowrap !important;
            text-overflow: ellipsis !important;
            overflow: hidden !important;
        }
    }
}

.go-to-top {
    width: 35px;
    height: 35px;
    border-radius: $border-radius-xs;
    background: $page-primary-color;
    padding: 0;
    color: $page-light-color;
    font-size: 14px;
    position: fixed;
    right: -200px;
    bottom: 20px;
    text-align: center;
    border: 0;
    z-index: 999;
    line-height: 35px;
    cursor: pointer;
    transition: $all-transition;
    -webkit-transition: $all-transition;

    &--image {
        background: transparent $image-gototop repeat scroll 0 0;
        border-radius: 0;
        height: 83px;
        width: 100px;

        i {
            display: none;
        }
    }

    &__active {
        right: 20px;
    }
}

.visible-xs {
    display: none;
}

.hidden-xs {
    display: block;
}

[data-visibility][data-visibility="hidden"] {
    opacity: 0;
    pointer-events: none;
    z-index: 0;
}
