.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;

    > li > a {
        padding: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.navbar {
    position: relative;
    padding: 0;
    min-height: 60px;
    border: 1px solid transparent;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;

    &-brand {
        float: left;
        padding: 10px;
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
        height: 60px;
    }

    &-toggle {
        position: relative;
        float: right;
        margin-right: 10px;
        padding: 9px 10px;
        margin-top: 13px;
        margin-bottom: 13px;
        background-color: transparent;
        background-image: none;
        border: 1px solid transparent;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
        border-radius: $border-radius-xs;

        &:hover {
            background-color: $hsla-50;
        }
    }

    &-mobile {
        border-width: 0;
        margin-bottom: 0;

        .container {
            margin-right: auto;
            margin-left: auto;
            margin-top: 0;
            margin-bottom: 0;
            padding: 0 10px;
            max-width: none !important;
        }

        &__brand {
            float: none;
            padding: 0;
            height: auto;
            min-width: 0;
            line-height: 1.5;
        }

        &__header {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 60px;
            width: 100%;
            padding: 0;
            -ms-flex-align: center;
            -ms-flex-pack: justify;
            -webkit-box-align: center;
            -webkit-box-pack: justify;

            &-section {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                align-items: center;
                min-width: 0;
                -ms-flex-align: center;
                -webkit-box-align: center;

                &--buttons {
                    flex: none;
                    -ms-flex: none;
                    -webkit-box-flex: 0;
                }
            }

            &::before, &::after {
                display: none;
            }
        }

        &__toggle {
            cursor: pointer;
            flex: none;
            float: none;
            width: 40px;
            height: 40px;
            padding: 0;
            margin: 0;
            border-width: 2px;
            color: $page-light-color;
            display: block;
            -ms-flex: none;
            -webkit-box-flex: 0;

            &-icon {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                justify-content: center;
                align-items: center;
                -ms-flex-pack: center;
                -ms-flex-align: center;
                -webkit-box-pack: center;
                -webkit-box-align: center;
            }

            &:hover {
                border-color: transparent;
            }
        }

        &__menu {
            box-shadow: none;
            border-top-width: 0;
            background-color: $page-light-color;
            width: 100%;
            z-index: 100;
            -ms-box-shadow: none;
            -webkit-box-shadow: none;

            &-items {
                margin-top: 0;
            }
        }

        &-item {
            text-transform: capitalize;

            &__main {
                color: $gray-800;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                align-items: center;
                -ms-flex-align: center;
                -webkit-box-align: center;

                &::after {
                    display: none;
                }
            }

            &__icon {
                width: 40px;
                margin-right: 10px;

                &--opened {
                    display: none;
                }

                &--main {
                    text-align: center;
                }
            }

            &__submenu {                
                color: $gray-800;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                align-items: center;
                padding-left: 60px !important;
                -ms-flex-align: center;
                -webkit-box-align: center;

                &:hover {
                    background-color: $gray-300;
                }
            }
        }
    }

    &-collapse {
        overflow-x: visible;
        padding-right: 10px;
        padding-left: 10px;
        border-top: 1px solid transparent;
        border-top-width: 1px;
        box-shadow: inset 0 1px 0 $hsla-10;
        -ms-overflow-scrolling: touch;
        -ms-box-shadow: inset 0 1px 0 $hsla-10;
        -webkit-overflow-scrolling: touch;
        -webkit-box-shadow: inset 0 1px 0 $hsla-10;
    }

    &-nav {
        margin: 5px -10px;

        > li > a {
            padding-top: 10px;
            padding-bottom: 10px;
            line-height: 20px;
        }

        .show {
            .dropdown-menu {
                position: static;
                float: none;
                width: auto;
                margin-top: 0;
                background-color: transparent;
                border: 0;
                box-shadow: none;
                -ms-box-shadow: none;
                -webkit-box-shadow: none;

                > li > a {
                    display: block;
                    clear: both;
                    font-weight: 400;
                    color: $gray-800;
                    line-height: 20px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    padding-right: 15px;
                }
            }
        }
    }

    &-default {
        background-color: $page-primary-color;
        border-color: $page-primary-color;

        .navbar-toggle {
            border-color: $hsla-50;
        }

        .navbar-brand {
            color: set-text-color($page-primary-color);
        }
    }
}

.nav2 {
    transform: translateZ(0);
    padding: 15px 0;
    width: 100%;
    height: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    font-weight: 400;
    z-index: 100;
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);

    &__colgroup {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex: none;
        -ms-flex: none;
        -webkit-box-flex: 0;

        &--menu {
            margin-right: auto;
        }
    }

    &__col {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        flex: none;
        -ms-flex: none;
        -ms-flex-align: center;
        -webkit-box-flex: 0;
        -webkit-box-align: center;

        &--menu {
            align-items: stretch;
            -ms-flex-align: stretch;
            -webkit-box-align: stretch;
        }
    }

    &__menu {
        &-link {
            &-main {
                color: set-text-color($page-primary-color);
                text-decoration: none;
                padding: 10px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                align-items: center;
                -ms-flex-align: center;
                -webkit-box-align: center;
                transition: $all-transition;
                -webkit-transition: $all-transition;

                &:hover {
                    opacity: .8;
                    color: set-text-color($page-primary-color);
                    text-decoration: none;
                }
            }

            &-bar {
                position: absolute;
                top: 100%;
                margin-top: 5px;
                height: 3px;
                border-radius: $border-radius-lg;
                width: 100%;
                display: block;
            }
        }

        &-popup {
            position: absolute;
            top: 100%;
            height: 0;
            margin-top: -5px;
            left: 10px;
            white-space: nowrap;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            flex-direction: column;
            -ms-flex-direction: column;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
        }
    }

    &-header {
        position: relative;
        width: auto;
        background-color: $page-primary-color;
        transition: $all-transition;
        -ms-transition: $all-transition;
        -webkit-transition: $all-transition;

        &.sticky {
            z-index: 9999;
            position: sticky;
            top: 0;
            width: 100%;
            box-shadow: 0 10px 20px $hsla-dark-20;
            -ms-box-shadow: 0 10px 20px $hsla-dark-20;
            -webkit-box-shadow: 0 10px 20px $hsla-dark-20;
        }
    }
}

.simple {
    &-menu {
        transform: translateZ(0);
        box-shadow: 0 1px 3px $hsla-dark-30;
        border-radius: $border-radius-xl;
        padding: 20px 5px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        min-width: 150px;
        flex: none;
        font-size: 14px;
        overflow: hidden;
        z-index: 101;
        -ms-transform: translateZ(0);
        -ms-box-shadow: 0 1px 3px $hsla-dark-30;
        -ms-flex-direction: column;
        -ms-flex: none;
        -webkit-transform: translateZ(0);
        -webkit-box-shadow: 0 1px 3px $hsla-dark-30;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-box-flex: 0;

        &__item {
            transition: none;
            outline: none;
            outline-style: none;
            border: none;
            padding: 0;
            margin: 0;
            background: none;
            text-decoration: none;
            border-radius: $border-radius-xs;
            white-space: nowrap;
            line-height: normal;
            padding: 5px 25px;
            color: set-text-color($page-light-color);
            cursor: pointer;
            text-align: left;
            flex: none;
            -ms-flex: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            -webkit-box-flex: 0;

            &:hover {
                transition: none;
                text-decoration: none;
                background-color: $gray-300;
                color: set-text-color($gray-300);

                &::before {
                    content: '';
                    border-radius: 10px;
                    position: absolute;
                    top: 7px;
                    left: 10px;
                    width: 3px;
                    height: calc(100% - 14px);
                    background-color: $page-primary-color;
                }
            }
        }

        &--nav2 {
            transform: translateZ(0);
            will-change: transform,opacity;
            transition: none;
            background-color: $page-light-color;
            border-radius: $border-radius-sm;
            -webkit-transform: translateZ(0);
            -webkit-transition: none;

            &-left {
                &-aligned {
                    left: -30px;
                }
            }
        }
    }
}
