$page-width: calc(100% - 40px);
$page-max-width: 1000px;
$page-primary-color: $fui-nephritis;
$page-secondary-color: $fui-emerald;
$page-light-color: $white;
$page-dark-color: $black;

$image-welcome: url('../img/welcome.jpg');
$image-introblocks: url('../img/bgs-card-section-header.png');
$image-footer: url('../img/bg_footer.jpg');
$image-gototop: url('../img/go-to-top.png');

$hsla-10:hsla(0,0%,100%,.1);
$hsla-20:hsla(0,0%,100%,.2);
$hsla-30:hsla(0,0%,100%,.3);
$hsla-40:hsla(0,0%,100%,.4);
$hsla-50:hsla(0,0%,100%,.5);
$hsla-60:hsla(0,0%,100%,.6);
$hsla-70:hsla(0,0%,100%,.7);
$hsla-80:hsla(0,0%,100%,.8);
$hsla-90:hsla(0,0%,100%,.9);
$hsla-dark-10:hsla(0,0%,0%,.1);
$hsla-dark-20:hsla(0,0%,0%,.2);
$hsla-dark-30:hsla(0,0%,0%,.3);
$hsla-dark-40:hsla(0,0%,0%,.4);
$hsla-dark-50:hsla(0,0%,0%,.5);
$hsla-dark-60:hsla(0,0%,0%,.6);
$hsla-dark-70:hsla(0,0%,0%,.7);
$hsla-dark-80:hsla(0,0%,0%,.8);
$hsla-dark-90:hsla(0,0%,0%,.9);

$all-transition:all 80ms linear;
$color-transition:color 80ms linear;

$border-radius-xs:4px;
$border-radius-sm:6px;
$border-radius-lg:10px;
$border-radius-xl:20px;

$introblocks-1:#9a4848;
$introblocks-2:#ffa500;
$introblocks-3:#fff200;
$introblocks-4:#87ceeb;
$introblocks-5:#e725df;
